target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

.idea/
*.iml
*.ipr
*.iws
.project
.classpath
.settings/

.env
!.env.example
*.log

node_modules/
.next/
dist/
build/
