target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

.idea/
*.iml
*.ipr
*.iws
.project
.classpath
.settings/

.env
.env.local
.env.production
!.env.example
!.env.production.example
*.log

node_modules/
.env
.next/
dist/
build/
